<div class="row">
  <div class="column">
    <%- partial('partial/header') %>
    <!-- Main information, edit it on theme/_config.yml -->
    <!--<h2 class="mb-2"><%= theme.owner %></h2>-->
    <p><%= theme.info %></p>
    <p><span style="font-weight: bold;">User Experience Designer.</span><br><%= theme.desc %></p>
    <p>Also appears in: <a href="https://twitter.com/theYenLai">Twitter</a>, <a href="https://github.com/laiyenju">GitHub</a>, <a href="https://www.linkedin.com/in/laiyenju/">LinkedIn</a></p>
  </div>
</div>

<div style="margin-top: 5rem; margin-bottom: 5rem;">
  <p>◼︎</p>
</div>

  <p><b>POST</b></p>

<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row">

  <div class="three columns left lit">
    <p class="bottom"><%- full_date(post.date, 'll') %></p>
  </div>
  <div class="nine columns left mb-3">
    <a href="<%- url_for(post.path) %>" >
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </div>
</div>
<% }) %>

<p> <a href="<%= config.root %>archives">All Posts</a></p>
