<div class="row">
  <div class="column">
    <h2 style="color: #ffa424;"><a href="<%= config.root %>" id="homelink">◉</a></h2>
  </div>
</div>

<div style="text-align: center;">
  <h2><%- page.title %></h2>
  <p style="color:darkgray"><%- full_date(page.date, 'll') %><p>
</div>
  <%- page.content%>
  <p><%- list_tags(page.tags, {class: 'classtest', show_count: false, style: false}) %></p>
  <%- partial('partial/comments') %>